:host ::ng-deep {
  .p-dialog-header-icons {
    .p-button {
      border-radius: 50%;
      //width: 3.5rem;
      //height: 3.5rem;
    }
  }
}

.room-header {
  display: flex;
  gap: 1.5rem;
}

.dialog-action-buttons {
  display: flex;
  justify-content: space-between;

  .icon-button {
    display: flex;
    gap: 0.5rem;
  }
}
