:root {
  //--transition: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* Colors light theme */

  --primary: #042b23;
  //--primary: #42905C;
  --text-color: #29344d;
  --background: white;

  --white: #fff;
  --black: #29344d;

  --success: #62ce7f;
  --error: #e44c27;
  --info: #377ace;
  --warning: #f3b627;
}
