<div class="card-wrapper">
  <p-card>
    <div class="chart-card-header">
      <span> {{ 'DASHBOARD.REVENUE_CHART.TITLE' | translate }}</span>
      <div class="menu-wrapper">
        <p-menu
          #menu
          [model]="options"
          [popup]="true"
          [styleClass]="'custom-menu'"
        >
          <ng-template pTemplate="option" let-option>
            <span class="ml-2">{{ option.label }}</span>
          </ng-template>
        </p-menu>

        <button
          pButton
          class="chart-menu"
          [text]="true"
          [plain]="true"
          (click)="menu.toggle($event)"
        >
          <span> {{ selectedOption }}</span>
          <span class="pi pi-angle-down"></span>
        </button>
      </div>
    </div>

    <div class="chart">
      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
        [legend]="barChartLegend"
      >
      </canvas>
    </div>
  </p-card>
</div>
